.landingPage {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}
.landingSvg {
	background: url("../svg/landing.svg") no-repeat;
	height: 482px;
	width: 781px;
}

.redberyText {
	background: url("../svg/redberry.svg") no-repeat;
	height: 18px;
	width: 112px;
}

.landingPage button {
	width: 387px;
	height: 60px;
	border: none;
	color: white;
	background-color: #62a1eb;
	border-radius: 8px;
	cursor: pointer;
	font-family: halve;

	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.landingButtons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 146px;
}

@media only screen and (max-width: 390px) {
	.landingSvg {
		background: url("../svg/iphonelanding.svg") no-repeat;
		height: 349px;
		width: 268.58px;
	}

	.landingPage button {
		width: 358px;
		height: 60px;
		border: none;
		color: white;
		background-color: #62a1eb;
		border-radius: 8px;
		cursor: pointer;
		font-family: halve;

		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}
}
